* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.containerBanner {
    width: 100vw;
    height: 70vh;


}

.imgBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.containerSummary {
    position: relative;
    height: 80%;
}



.summaryEvent {
    max-width: 30rem;
    max-height: 400px;
    padding: .2rem;
    font-size: .75rem;
    position: absolute;
    z-index: 1;
    top: 40%;
    right: 2%;

    overflow: auto;
    color: #FFF6F6;
    font-weight: bold;
    text-align: right;

}




.bsas-titulo {
    text-align: right;
}

.btn {
    margin-top: 5px;


}

.btn-orador {
    width: 10rem;
    height: 2rem;
    margin-top: 5px;
    border-radius: 8px;
    border-color: white;
    color: aliceblue;
    background-color: transparent;
    ;


}

.btn-compra {
    width: 10rem;
    height: 2rem;
    border-radius: 8px;
    border-color: transparent;
    color: aliceblue;
    margin-top: 5px;
    background-color: #61C810;
    ;

}